.addcontent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5411ff39;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    z-index: 130;
    border-radius: 10px;
    color: white;
}
.action_detail {
    position: relative;
}
.cancel-btn-add {
    position: absolute;
    top: 20px;
    left: 14px;
}
.cancel-btn-add > p {
    margin: 0;
}
.playlistslist {
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}
.playlist-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    column-gap: 14px;
}
.playlist-block-add-img  {
    width: 60px;
    height: 100%;
}
.playlist-block-add-info {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.playlist-block-details > p{
    margin: 0;
}
.playlist-block-name > p {
    margin: 0;
}
#editbar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5411ff39;
    backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    transition: 0.5s;
    -webkit-transition:0.3s ;  
    -moz-transition:0.3s ; 
    z-index: 10;  
    color: rgb(243, 243, 243);
}

.edit-bar-hidden {
    bottom: -300%;
    opacity: 0;
}

.edit-bar-show {
    bottom: 0;
    opacity: 1;
}

#edit_img {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
#edit_img > div{
    height: 180px;
    aspect-ratio: 1/1;
}
#edit_container {
    text-align: center;
}
.editbtn_icon {
    width: 30px;
    height: 30px;
}
.editactbtn div img {
    filter: invert(99%) sepia(96%) saturate(3%) hue-rotate(228deg) brightness(104%) contrast(100%);
}
#closebtn {
    font-size: 22px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
#closebtnwd {
    margin: 0;
}
#editacts {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


#editbarcontainer {
    position: relative;
    height: 100%;
}
.editactbtn {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-left: 18px;
}
.editactbtn > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editactbtn > div > p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
}

.uppps-nothere {
    display: none;
}
#editbarcontainpc {
    position: absolute;
    background-color: rgb(54, 54, 54);
    border-radius: 4px;
    padding: 4px;
    z-index: 10;
}

.editactbtnpc > div > p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 6px 10px 10px;
    border-radius: 4px;
}
.editactbtnpc > div > p:hover {
    background-color: rgba(173, 173, 173, 0.265);
}
#editactspc {
    display: flex;
    flex-direction: column;
}

.addcontentpc {
    z-index: 10;
    width: fit-content;
    padding: 4px;
    background-color: rgb(54, 54, 54);
    position: absolute;
    transform: translate(100%, -50%);
    border-radius: 4px;
    right: 0;
    min-width: 108px;

}