.message-container {
    position: fixed;
    width: fit-content;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

@media only screen and (max-width: 700px) {
    .message-container {
        width: 100%;
    }
}
.message-text {
    background-color: #8758FF;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* Chrome */
    word-wrap: break-word; /* IE */
    width: 92%;
    color: white;
    font-size: 14px;
    padding: 14px 10px;
    margin: 0;
    border-radius: 4px;
}

